.head
{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color:white;
}
.logo
{
    font-size: 24px;
    color :white;
    margin: 10px;

}
ul{
    list-style-type: none;
}
.links
{
    display: flex;
    margin: 10px;

    
}
.links >*
{
    margin:5px;
    font: size 18px;
}
.section-1
{
    display: flex;
    background-color: #1F2937;
    height: 420px;
    justify-content: center;
   
    
}
.section-1>*
{
    height :300px;
    width:400px;
    padding:10px;
    color:white;
    margin:30px;
}
.sec1-1>*{
    margin:8px;
    
}
.sec1-1-header
{
    font-size:48px;
}
.signup-btn
{
    color:white;
    background-color: blue;
}
.image-1
{
    border: 2px solid black;
}